
body {
  color: blue;
}

h1 {
  color: green;
}
.box1{
  background-color: rgb(201, 255, 5);
  width: 300px;
  border: 15px solid rgb(56, 7, 233);
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto; 

}
.box2{
    background-color: indigo;
    width: 500px;
    border: 10px solid green;
    padding: 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;


}
.box3{
    background-color: rgb(21, 190, 241);
    width : 200px;
    border: 5px solid rgb(231, 118, 212);
    padding: 20px;
    height: 300px;
    font-style: italic;
    color: black;
}